
@{
    ViewBag.Title = "NotificationEmailConfirm";
}

<h2>NotificationEmailConfirm</h2>
<p> Vui lòng kiểm tra hòm thư email của bạn để xác thực trước khi đăng nhập. Nếu không thấy vui lòng kiểm tra trong hòm thư rác. Xin cảm ơn!</p>

